name: Unity CI (Self-Hosted)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  unity-tests:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Unity EditMode tests
        shell: cmd
        run: |
            "D:\Unity\Hub\Editor\6000.3.2f1\Editor\Unity.exe" `
            -batchmode `
            -nographics `
            -projectPath . `
            -runTests `
            -testPlatform EditMode `
            -logFile -
